.cards {
  display: flex;
  flex-wrap: wrap;
  align-content: space-between;
  justify-content: space-between;
  width: 100%;
  height: 1100px;

  @include tablet {
    height: 100%;
    gap: 20px;
  }

  @include desktop {
    height: 100%;
    width: 65%;
    margin: auto;
    gap: 30px;
  }

  &__restaurant {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 250px;
    box-shadow: 0px 3px 15px darken(#ffffff, 10);
    border-radius: 20px;

    @include tablet {
      width: 48%;
    }

    @include desktop {
      width: 48%;
    }

    &__link {
      width: 100%;
      height: 100%;
      border-radius: 20px;
    }

    &__description {
      padding: 15px;
      width: 100%;
      height: 75px;

      & h3 {
        color: black;
        font-weight: 700;
        font-size: 18px;
      }

      & p {
        color: black;
        font-weight: 300;
        font-size: 16px;
        margin-top: 5px;
      }
    }
  }

  .like {
    position: relative;
    width: 24px;
    height: 24px;
    padding: 0;
    bottom: 50px;
    left: 85%;
  }

  .image {
    width: 100%;
    height: 70%;
    overflow: hidden;
    border-radius: 20px 20px 0 0;
    &__restaurant {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px 20px 0 0;
    }
  }
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 0 20px 50px;
  background-color: darken(#ffffff, 3.53);

  & h2 {
    font-size: 24px;
    font-weight: 700;
    margin: 20px 0;

    @include desktop {
      width: 85%;
      margin: 40px auto 30px;
    }
  }
}

.cards__restaurant .new {
  position: relative;
  width: 80px;
  line-height: 30px;
  color: darken(saturate(#99e2d0, 44.27), 47.84);
  background-color: #99e2d0;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  border-radius: 2px;
  bottom: 220px;
  left: 78%;

  @media screen and (min-width: 425px) {
    left: 80%;
  }

  @media screen and (min-width: 576px) {
    left: 85%;
  }

  @include tablet {
    left: 75%;
  }

  @include laptop {
    left: 80%;
  }

  @include desktop {
    left: 65%;
  }
}
