@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Shrikhand&display=swap');

$primary: #9356dc;
$secondary: #ff79da;
$tertiary: #99e2d0;
$btn-color: linear-gradient(to top left, $primary, 55%, $secondary);
$heart-color: -webkit-linear-gradient(top, $primary, $secondary);

$font-title: "Shrikhand";
$font-text: "Roboto", sans-serif;